html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}


.slider {
    position: absolute;
    width: 33%;
}

.left-slider {
    left: 0;
}

.middle-slider {
    left: 33%;
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
}